@import 'src/styles.scss' ;
body{
    flex-direction: row;
}
nav{
    background-color: $color4;
    padding: 10px;
    position:sticky; 
    top: 0;
    display: flex;
    justify-content: center;
    ul{
      display: flex;
    }
}
a{
  @include links; 
  color: white; 
}
