

<div class="container">
    <h2>new quote</h2>
    <form action="">
    <div class="form-group">
        <label for="author">author</label>
        <input id="author" name="author" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="quote">quote</label>
        <input id="quote" name="quote" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Bio</label>
        <textarea class="form-control" aria-label="With textarea" 
        rows="5"
        required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input id="image" name="image" class="form-control" required>
    </div>
        <button type="submit" class="btn btn-primary  " >Ok</button>
    </form>
</div>