
@import 'src/styles.scss';


body{
    color: $color4
}
.title{

    border: solid; 
    border-width:0 0 2px 0;
    padding: 5px;  

}

button {
    @include btn; 
 
}
a {
    @include links;
    
}
.cd-con{
    margin: 5%; 
}
.cd{
    // border-style:
    background: white; 

    border-color: $color3;  
    border:solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    animation: cardsIn 0.5s;
    &:hover{
        box-shadow: 0 5px 5px $color4; 
        transition: box-shadow 0.3s ease-in-out;
    }
 

}
@keyframes cardsIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.add-quote{
    position: fixed;
    bottom: 3%;
    right: 1%;
    background-color:$color4;
    color:white;
    border-radius:3px;  
}
