<body>
  <section class="">
    <div class="">
      <div class="">
        <h2 class="title">Famous Quotes     
        </h2>
        <button 
                  class="add-quote"
                  (click)='newQuoteNav()'>
           Add Quote
          </button>
        <button  (click)="toggleName()">
          {{showName ? "Hide":"Show"}} authors</button>
          <!-- this div is the container of all quotes -->
        <div class="cd-con"> 
          <div class="cd" *ngFor="let quote of quotes">
               <div class="quote">{{quote.text | changeYou}} </div>
                <div><a [routerLink]="['/quotes/author',quote.id]">{{quote.author}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
  