
@import 'src/styles.scss';
body{
    color: $color4
}
.title{

    border: solid; 
    border-width:0 0 2px 0;
    padding: 5px;  

}
button {
    @include btn; 
 
}
a {
    @include links; 
}
.cd-con{
   
    // display: flex
    border: 10px solid rgb(161, 237, 161); 
    ;
}
.cd {
    border: 2px solid black; 
    display: flex;

    & > div {
        flex: 1;
    }
    & > .quote{
        flex:1.5;
    }
}

.add-quote{
    position: fixed;
    bottom: 3%;
    right: 1%;
    background-color:$color4;
    color:white;
    border-radius:3px;  
}
